* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffd000da;
}

/* sidebar */

.burger-menu {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #090908;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
}

.whatsapp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.whatsapp:hover {
  scale: 1.03;
  box-shadow: 2px 4px 2px 2px #2b2b2b;
}

.whatsapp i {
  font-size: 30px;
  color: #ffffff;
}

/* Navbar */

.main {
  height: auto;
  width: 100%;
}

.head-main {
  width: 100%;
  min-height: 100vh;
  height: auto;
  /* padding-top: 6%; */
  background-image: url("../Images/6209665.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.golden-line {
  border: 3px solid #ffd200;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(30px);
}

.header-logo {
  margin-left: 50px;
  width: auto;
  height: 65px;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  margin: 15px;
}

.nav-list > li {
  list-style-type: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.nav-list > li a {
  text-decoration: none;
  color: #ffffff;
}

.getAppBtn {
  color: #2b2b22;
  font-size: 18px;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  width: 150px !important;
  border-radius: 20px;
  padding: 5px 30px;
  font-family: "Poppins", sans-serif;
  transition: all 0.8s;
  box-shadow: 0 0 10px #ffd200;
}

.getAppBtn:hover {
  background: transparent !important;
  border: 2px solid #ffd200;
  color: #ffffff;
  box-shadow: 0 0 20px #ffd200;
}

#submitFilm {
  color: #2b2b22;
  font-size: 18px;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  width: 150px !important;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 10px #ffd200;
  transition: all 0.8s;
}

#submitFilm:hover {
  background: transparent !important;
  border: 2px solid #ffd200;
  color: #ffffff;
  box-shadow: 0 0 20px #ffd200;
}

.know-morebtn {
  color: #2b2b22;
  font-size: 18px;
  width: 150px !important;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  margin-top: 4%;
  width: 150px;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 10px #ffd200;
  transition: all 0.8s;
}

.know-morebtn:hover {
  background: transparent !important;
  border: 2px solid #ffd200;
  color: #ffffff;
  box-shadow: 0 0 20px #ffd200;
}

.nav-list > li a:hover {
  color: #ffd532;
  border-bottom: 2px solid #ffd532;
}

.nav-list li.active a {
  color: #ffd532;
  border-bottom: 2px solid #ffd532;
}

.logoPoint {
  animation: trembleAnimation 1s ease-in-out forwards;
}

@keyframes trembleAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* MOdel poup*/

.btn-close:active,
.btn-close:focus {
  box-shadow: none !important;
}

.modal-content {
  width: max-content;
}
.model-logo {
  width: 150px !important;
  height: 55px;
  background-color: #000000;
  padding: 5px;
  border-radius: 12px;
}

.app-content p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin-top: 7%;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.appModalPopUp {
  margin-left: 420px !important;
}

.modalpopup-body {
  background: rgba(132, 132, 132, 0.14) !important;
}

.mockUp-App {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.apk {
  display: flex;
  justify-content: space-between;
}

.apk img {
  width: 125px;
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-bottom: 5%; */
}

.movk-img {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

/* Footer */
.footer-bg {
  background-image: url("./media/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  padding-top: 25px;
  /* height: 350px; */
}

.aboutuscontent h3 {
  color: #ffd200;
}

.aboutlist li a:hover {
  color: #ffd532;
  translate: 0.5rem;
  border-bottom: 2px solid #ffd532;
}

.joinus {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 35px;
}

.footer-platform {
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: max-content;
  padding-bottom: 25px;
  outline: none;
}

.footer-platform i {
  font-size: 30px !important;
  transition: 0.5s linear;
  cursor: pointer;
  border-radius: 8px !important;
}

.footer-platform i:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #ffd200;
}

.footer-platform i:visited {
  box-shadow: none !important;
}

.copyrights {
  text-align: center;
  color: #ffffff;
  font-size: 14px !important ;
}

.address h2 {
  color: #ffd200;
}

.map-location {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 50%;
  position: relative;
  /* right: 120px; */
}
.address {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  width: 250px;
}
.address p {
  margin: 0;
  font-size: 18px;
}

.left-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
}
.aboutuscontent {
  width: 40%;
}
.aboutuscontent p {
  margin-top: 20px;
}
.aboutlist {
  margin-left: 25px;
}
.aboutlist ul li {
  list-style: none;
  line-height: 40px;
  transition: 0.5s linear;
}
.aboutlist ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.mailUs {
  color: #f8cc23;
  font-size: 20px !important;
}

.emailUs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.emailUs a {
  color: #ffd200;
}

/* Interest form */

.intrestForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* padding-top: 10%; */
}

.fromInput {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-bottom: 6%;
}

.interest-box {
  width: 40%;
  height: 400px;
  backdrop-filter: blur(5px);
  background: rgba(132, 132, 132, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px); */
  border: 1px solid rgba(132, 132, 132, 0.14);
}

.interest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.interest-box input {
  width: 80%;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  opacity: 0.9;
}

.interest-box input:focus {
  outline: 2px solid #ffd532;
}

.interest-box h2 {
  color: #ffd532;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 2%;
  text-align: center;
}

.constrant {
  color: #ff0d00;
  display: none;
}

.error-message2 {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

#intrtBtn {
  color: #2b2b22;
  font-size: 18px;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  width: 150px !important;
  height: 50px;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  /* margin-top: 20px; */
  box-shadow: 0 0 10px #ffd200;
}

#intrtBtn:hover {
  background: transparent !important;
  border: 2px solid #ffd200;
  color: #ffffff;
  box-shadow: 0 0 20px #ffd200;
}

/* Thanks regard */

.thanksReg {
  width: 70%;
  height: auto;
  border: 2px solid #ffd200;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  background: rgba(132, 132, 132, 0.14);
  padding: 20px;
  display: none;
}

.thanksReg h1 {
  color: #ffd200;
  text-align: center;
  font-size: 56px !important;
  font-weight: bolder;
}

.thanksReg p {
  font-size: 20px;
  text-align: center;
}

.homeBtn {
  display: flex;
  justify-content: center;
}

.homeBtn button {
  color: #2b2b22;
  font-size: 18px;
  background:
    linear-gradient(90deg, #f7971e 0%, #ffd200 100%),
    linear-gradient(90deg, #9747ff 1.51%, #1e62a0 101.72%);
  width: 150px !important;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  box-shadow: 0 0 10px #ffd200;
}

.homeBtn button:hover {
  background: transparent !important;
  border: 2px solid #ffd200;
  color: #ffffff;
  box-shadow: 0 0 20px #ffd200;
}

.loading {
  display: none;
  padding: 5px 15px;
  height: 50px;
  width: 50px;
}

/* media query */

@media screen and (max-width: 1165px) {
  .nav-list {
    width: 700px;
  }

  .nav-list > li {
    font-size: 16px;
  }

  .nav-list > li button {
    font-size: 16px;
  }
}

@media screen and (max-width: 1088px) {
  .nav-list {
    width: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .side-bar {
    display: none;
  }

  .nav-list {
    width: 540px;
  }

  .nav-list li {
    font-size: 16px;
  }

  .getAppBtn,
  #submitFilm,
  #interestFilm,
  .homeBtn button {
    width: 130px !important;
    font-size: 14px !important;
  }

  .header-logo {
    margin-left: 20px;
    height: 45px;
  }
  .footer-platform i {
    font-size: 24px !important;
  }

  .aboutlist ul li a {
    font-size: 16px;
  }

  .address p {
    font-size: 16px;
  }
  .appModalPopUp {
    margin-left: 200px !important;
  }

  .interest-box {
    width: 60%;
  }

  .whatsapp {
    width: 45px;
    height: 45px;
  }

  .whatsapp i {
    font-size: 20px;
  }
}

@media screen and (max-width: 983px) {
  .nav-list {
    width: 550px;
  }
}

@media screen and (max-width: 920px) {
  .left-footer {
    flex-wrap: wrap;
  }
  .about,
  .map-location {
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  .nav-list {
    width: 500px;
  }
}

@media screen and (max-width: 769px) {
  .fromInput {
    width: 70%;
  }
  .header-menu {
    justify-content: space-between;
    width: 100%;
    /* height: 65px; */
  }

  .header-logo {
    margin-left: 20px;
    height: 55px;
  }

  .nav-bar {
    display: none;
  }

  .burger-menu {
    display: block;
    margin-right: 20px;
    font-size: 28px;
    color: #ffffff;
  }

  .interest-box {
    margin-top: 5%;
  }

  .interest-form > h2 {
    font-size: 28px;
  }

  #intrtBtn {
    width: 130px !important;
  }

  .left-footer {
    display: block;
  }

  .about {
    justify-content: space-around;
  }

  .map-location {
    justify-content: center;
  }

  .side-bar li {
    list-style: none;
    margin: 25px 0;
    font-size: 20px;
    width: 100%;
  }

  .side-bar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
  }

  .side-bar li a:hover {
    border-bottom: 2px solid #ffd200;
  }

  .burger-icon {
    cursor: pointer;
    font-size: 24px;
  }

  .close {
    cursor: pointer;
    color: #ffffff;
    font-size: 28px !important;
  }

  .mockUp-App {
    width: 200px;
    height: 200px;
  }

  .modalpopup-body {
    height: 270px;
  }

  .mockUp-App img {
    width: 150px;
    height: 300px;
  }

  .appModalPopUp {
    margin-left: 150px !important;
  }

  .modal-content {
    width: fit-content;
  }
}

@media screen and (max-width: 426px) {
  .header-logo {
    height: 45px !important;
  }

  .close {
    font-size: 20px !important;
  }

  .thanksReg {
    margin-top: 40%;
  }

  .fromInput {
    margin-top: 6%;
  }

  .side-bar {
    width: 200px;
  }

  .side-bar li {
    list-style: none;
    margin: 20px 0;
    font-size: 16px;
    width: 100%;
  }

  .side-bar li a {
    font-size: 16px;
  }

  .header-menu {
    background-color: #000000dc;
  }

  .aboutuscontent p {
    font-size: 15px;
  }

  .aboutlist li {
    font-size: 14px;
  }

  .address h2 {
    font-size: 20px;
  }

  .address p {
    font-size: 14px;
  }

  .mapIcon {
    width: 75px !important;
  }

  .footer-platform {
    width: 70%;
    justify-content: space-around;
  }

  .appModalPopUp {
    margin-left: 13px !important;
  }
  .modal-content {
    width: 400px;
  }
  .mockUp-App img {
    width: 125px;
    height: 230px;
  }

  .popup-content {
    height: 100%;
  }

  .mockUp-App {
    width: 150px;
    height: 150px;
  }

  .qr-code h3 {
    font-size: 18px !important;
  }

  .model-logo {
    width: 150px;
    height: 40px;
  }

  .about {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }

  .aboutlist {
    margin: 0;
  }

  .aboutuscontent {
    width: 80%;
  }
  .aboutlist ul {
    padding-left: 0;
  }

  .aboutlist ul li {
    line-height: 30px;
  }

  .emailUs a {
    font-size: 14px;
  }

  .interest-box {
    margin-top: 20%;
  }

  .interest-form > h2 {
    font-size: 22px;
  }

  .homeBtn button {
    width: 110px !important;
    font-size: 14px;
    padding: 5px;
  }

  #intrtBtn {
    width: 110px !important;
    font-size: 14px;
  }

  .interest-box {
    width: 100%;
  }

  .thanksReg {
    width: 90%;
  }

  .thanksReg h1 {
    font-size: 36px !important;
  }

  .thanksReg p {
    font-size: 18px;
  }

  .burger-icon {
    font-size: 22px;
  }

  .whatsapp {
    right: 10px !important;
    bottom: 10px !important;
  }
}

@media screen and (max-width: 376px) {
  .interest-box {
    margin-top: 25%;
  }

  .thanksReg {
    margin-top: 40%;
  }

  .side-bar {
    width: 175px;
  }

  .footer-platform i {
    font-size: 20px !important;
  }

  .aboutlist {
    margin-left: 0;
  }

  .copyrights {
    font-size: 12px !important;
  }

  .appModalPopUp {
    margin-left: 13px !important;
  }

  .modal-content {
    width: 350px;
  }

  .burger-icon {
    font-size: 20px;
  }

  .mailUs {
    display: none !important;
  }

  .interest-box input {
    width: 90%;
    padding: 8px;
  }

  #submitFilm,
  .getAppBtn,
  #interestFilm {
    width: 120px !important;
  }

  .thanksReg {
    width: 95%;
  }

  .thanksReg h1 {
    font-size: 28px !important;
  }

  .thanksReg p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header-logo {
    height: 35px !important;
  }

  .interest-box {
    margin-top: 30%;
  }

  .interest-box > h2 {
    font-size: 20px;
  }
  .modal-content {
    width: 300px;
  }
  .endImages h1 {
    font-size: 18px;
  }

  .thanksReg {
    margin-top: 50%;
  }

  .emailUs a {
    font-size: 11px;
  }

  .address p {
    font-size: 13px;
  }

  .interest-box input {
    width: 100%;
  }

  .model-logo {
    width: 120px;
    height: 30px;
  }

  .mockUp-App {
    width: 120px;
    height: 120px;
  }

  .mockUp-App img {
    width: 105px;
    height: 210px;
  }

  .thanksReg {
    width: 100%;
  }

  .thanksReg h1 {
    font-size: 24px !important;
  }

  .thanksReg p {
    font-size: 14px;
  }

  /* .whatsapp {
    width: 40px;
    height: 40px;
  } */

  .whatsapp i {
    font-size: 18px;
  }
}
